/* Global Stylings */

html {
  background-color: #000;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 30%;
  height: 2.5rem;
  padding: 8px;
  opacity: 0.7;
  margin-top: 1%;
}

.container {
  position: relative;
  min-height: 90vh;
}

#content-wrap {
  padding-bottom: 1.5rem;
}


/* Custom Colors */

.color-3 {
  color: #37ade3;
}


/* Navbar Styling */

button>a {
  color: #FFF;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: .8em;
  margin: -.8em;
}

button>a:hover {
  color: #FFF;
}

h1>a {
  color: #FFF;
}

span>a {
  color: #00d1b2;
}

span>a:hover {
  color: #00d1b2;
}

h1>a:hover {
  color: #FFF;
}

.nav-img {
  height: auto;
  width: 100%;
}

.logo {
  width: 20%;
}


/* Index posts */

.notification {
  background-color: #363636;
}

.top-p {
  font-size: 1.05em;
}

.hover-grow:hover {
  transform: scale(1.3);
}

.posts {
  border: 1px solid transparent;
}

.container-div {
  position: relative;
}

.right {
  position: absolute;
  right: 10px;
}

.is-parent {
  cursor: pointer;
}

.posts:hover {
  border: 1px solid #FFF;
}

.notification a:not(.button):not(.dropdown-item) {
  text-decoration: none;
}

.like-column {
  max-width: 10%;
}

.time-column {
  max-width: 15%;
  margin-top: 0.5%;
}


/* input[type="submit" i] {
  align-items: flex-end;
} */


/* Index forum side bar */

.forum-boxes {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 5%;
}

.forum-boxes:hover {
  transform: scale(1.1);
}

.forum-name {
  font-size: 1.6em;
}


/* Account styles */

.account-btns>a {
  color: #fff;
}

.account-btns {
  display: block;
  margin: auto;
  margin-bottom: 2%;
  font-size: 0.9em;
  padding: 0 2%;
}

.submit-btns {
  display: block;
  margin: auto;
  font-size: 1.3em;
  margin-top: 3%;
  margin-bottom: 3%;
}


/* Details styling */

.breadcrumb a {
  color: #37ade3;
}

.breadcrumb {
  margin-top: 5%;
}

.breadcrumb a:hover {
  color: #FFF;
}

.post-tile {
  margin-bottom: 3%;
}

.comment-submit {
  margin-top: 3%;
}

textarea {
  font-size: 1.1em;
}

.comment-tile {
  margin-bottom: 2%;
}


/* Forum Index styling */

.forum-index:hover {
  transform: none;
}

.forum-index {
  text-align: center;
  font-size: 1.2em;
}

.top-index {
  margin-top: 5%;
}

.forum-link:hover {
  border: 1px solid #FFF;
}

.column.is-one-quarter {
  padding: 0;
  width: 24%;
}

.index-main {
  margin-left: 22%;
}

.index-forum {
  margin-left: 0.5%;
}

.cursor {
  cursor: pointer;
}

.forum-link {
  display: block;
  z-index: 1;
  padding: 10% 15%;
  border: 1px solid transparent;
  width: 100%;
}


/* Forum Details */

.forum-detail {
  border: 1px solid transparent;
}

.forum-detail:hover {
  border: 1px solid #FFF;
}