@{
  Layout = "_Layout";
}

@using CodeExchange.Models;

@model List<CodeExchange.Models.Forum>;

 <div class="tile is-parent">
    <div class="tile is-child notification">
      @foreach(Forum forum in Model)
      {
        <div class="forum-boxes"> @* html action link to forum page needed *@
          <p class="is-inline-block forum-name has-text-light">@Html.ActionLink($"{@forum.Name}", "Details", new { id = forum.ForumId })</p>
          <p class="is-inline-block ml-2 has-text-light">@forum.ForumFollowers.Count<i class='bx bx-game ml-1 color-3'></i></p>
        </div>
      }
    </div>
  </div>