@{
  Layout = "_Layout";
}

@using CodeExchange.Models;

@model List<CodeExchange.Models.Forum>;

<div class="columns is-multiline index-forum">
  @foreach(Forum forum in Model)
  {
    <div class=" column is-one-quarter notification top-index mr-1 ml-1">
      <div class="forum-index"> 
        <p class="is-inline-block forum-name has-text-light forum-title">@Html.ActionLink($"{@forum.Name}", "Details", new { id = forum.ForumId })</p>
        <p class="is-inline-block ml-2 has-text-light">@forum.ForumFollowers.Count<i class='bx bx-game ml-1 color-3'></i></p>
      </div>
    </div>
  }
</div>
